html {
  position: relative;
  min-width: 320px;
}

html, body {
  min-height: 100%;
  min-width: $resMin;
}


.general-page {
  .header-wrapper {
    background-color: #F9FAFE;
    color: #fff;
    min-height: 850px;
    width: 100%;
    $wowlyBgUrl: $images-root + 'wowly/wowly-bg-header.png';
    background: url($wowlyBgUrl) center center no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

    &__logo {
      font-size: 40px;
      float: left;
      line-height: 60px;
    }
    &__menu {
      float: right;
      line-height: 60px;
      margin: 0;
      padding: 0;
      li {
        display: inline;
      }
    }

    &__inner {
      .row {
        min-height: 350px;
        .inner-block {
          display: table;
          height: 520px;
          position: relative;
          overflow: hidden;
          &__content {
            width: 100%;
            position: absolute;
            top: 40%;
            display: table-cell;
            vertical-align: middle;
            div {
              position: relative;
              top: -50%;
              span {
                display: block;
              }
              span:first-child {
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 20px;
              }
              span:nth-child(2) {
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 50px;
              }
            }
          }
        }
      }
    }
  }

  .main-wrapper {
    background-color: #fff;
    &__summary {
      span {
        display: block;
        font-size: 35px;
        line-height: 40px;
      }
      span:first-child {
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 45px;
        color: #00FF00;
      }
    }

    &__description {
      span {
        display: block;
        color: #4169E1;
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 45px;
      }
    }
    
    &__description-list {
      color: #696969;
      p {
        font-size: 25px;
        line-height: 30px;
        .icon-pin {
          width: 25px;
        }
      }
      p > span {
        display: block;
        margin: 25px 0 25px 0;
      }
      p > span.add-wowly {
        color: #e5e500;
      }
      p > span.save-moments {
        color: #449d44;
      }
      p > span.see-board {
        color: #4169E1;
      }
    }

  }







  .header {
  }

  .product-header {
    background-color: #F9FAFE;
    min-height: 850px;
    width: 100%;
    background: url("./shared/styles/images/main-product.png") center center no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    &__ads {
      margin-top: 50px;
      button {
        margin-top: 65px;
      }
    }
  }

  .product-footer {
    min-height: 850px;
    width: 100%;
    background-color: #F9FAFE;
    background: url("./shared/styles/images/product-footer.jpg") center center no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    &__wrapper {
      h3:first-child {
        padding-top: 60px;
      }
      button {
        margin-top: 65px;
      }
    }
  }

  .section-features {
    background-color: #F9FAFE;
    h3:nth-child(2) {
      margin-bottom: 50px;
    }
    &__col {
      img {
        width: 35%;
        height: 135px;
      }
      p {
        margin-top: 10px;
      }
    }
  }

  .section-about {
    width: 100%;
    background-color: #F9FAFE;
    min-height: 850px;
    background: url("./shared/styles/images/about.png") center center no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    h3, h4 {
      padding-left: 185px;
    }
  }

  .section-price {
    background-color: #F9FAFE;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    h3 {
      margin-top: 0;
    }
  }

  .setion-integration {
    background-color: #F9FAFE;
    padding-top: 30px;
    &__col {
      img {
        width: 30%;
      }
      p {
        margin-top: 15px;
      }
    }
  }
}
.row-block {
  margin-left: 0;
  margin-right: 0;
}

.next-row {
  margin-top: 50px;
}

.next-line-ads {
  margin-top: 5px;
}
// injector
// endinjector
