html {
  position: relative;
  min-width: 320px;
}

html, body {
  min-height: 100%;
  min-width: $resMin;
}


.general-page {
  background-color: #fff;
  .header-wrapper {
    width: 100%;
    min-height: 850px;
    color: #fff;
    $wowlyBgUrl: $images-root + 'wowly/wowly-bg-header.png';
    background: url($wowlyBgUrl) center center no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

    &__logo {
      font-size: 40px;
      float: left;
      line-height: 60px;
    }
    &__menu {
      float: right;
      line-height: 60px;
      margin: 0;
      padding: 0;
      li {
        display: inline;
        a {
          margin-left: 5px;
        }
      }
    }
    &__inner {
      padding-top: 140px;
      .row {
        min-height: 350px;
        .inner-block {
          display: table;
          height: 520px;
          position: relative;
          overflow: hidden;
          &__content {
            span {
              display: block;
            }
            span:first-child {
              font-size: 40px;
              line-height: 50px;
              margin-bottom: 20px;
            }
            span:nth-child(2) {
              font-size: 40px;
              line-height: 50px;
              margin-bottom: 50px;
            }
            button {
              color: #fff;
              background-color: #5cb85c;
              border-color: #4cae4c;
            }
            button:hover {
              color: #fff;
              background-color: #449d44;
              border-color: #398439;
            }
          }
        }
      }
    }
  }

  .main-wrapper {
    &__inception {
      margin-bottom: 75px;

      .inception-title {
        margin-top: 10%;
      }
      .summary-block {
        span {
          display: block;
          font-size: 35px;
          line-height: 40px;
        }
        span:first-child {
          margin-top: 50px;
          margin-bottom: 50px;
          font-size: 45px;
          color: #00FF00;
        }
      }
      .description-block {
        span {
          display: block;
          color: #4169E1;
          margin-top: 100px;
          margin-bottom: 50px;
          font-size: 45px;
        }
      }
      .description-block-list {
        color: #696969;
        p {
          font-size: 25px;
          line-height: 30px;
          .icon-pin {
            width: 25px;
          }
        }
        p > span {
          display: block;
          margin: 25px 0 25px 0;
        }
        p > span.add-wowly {
          color: #e5e500;
        }
        p > span.save-moments {
          color: #449d44;
        }
        p > span.see-board {
          color: #4169E1;
        }
      }
    }

    &__eduction {
      width: 100%;
      min-height: 600px;
      color: #fff;
      $wowlyBgUrl: $images-root + 'wowly/wowly-bg-footer.png';
      background: url($wowlyBgUrl) center center no-repeat;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;

      .eduction-icon {
        margin-top: 10%;
        img {
          padding-left: 30px;        
        }
      }
      .eduction-title {
        span {
          display: block;
          font-size: 35px;
          line-height: 40px;
        }
        span:first-child {
          margin-top: 50px;
          margin-bottom: 50px;
          font-size: 45px;
        }
      }
    }
  }

  .footer-wrapper {
    width: 100%;
    min-height: 100px;
    padding: 50px 0;

    &__logo {
      span {
        display: block;
      }
      span:first-child {
        float: left;
        margin-right: 10px;
        font-size: 45px;
        line-height: 40px;
      }
      .rights {
        float: left;
        line-height: 20px;
        font-size: 12px;
      }
    }
    &__social {
      font-size: 0;  
      list-style: none;
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      vertical-align: baseline;
      line-height: 30px;
      li {
        display: inline-block;
        padding: 5px 40px 0 0;
        a {
          color: #666666;
          font-size: 24px;
        }
      }
    }
  }
}

// injector
// endinjector
